/*
Burrowed from Yikai Wang's dope website at http://www.thoughtpool.org/users/1013061/WD2/index.html
*/

body {
    font-family: Arial;
    text-align: center;
    position: relative;
    background-image: url("http://s8.favim.com/orig/160108/adorable-amazing-awesome-background-Favim.com-3858249.jpg");
    font-size: 15px;
}

section {
    width: 400px;
    min-height: 60px;
    margin: auto;
    padding: 10px 5px;
    border: 1px solid #CCCCCC;
    background-color: white;
}

header { 
    clear: both;
    text-align: left; 
    height: 27px;
    padding-left: 32px;
}

/***************************************************
		Form Details
***************************************************/	
form {
    line-height:normal;
    margin:0 5px 12px 0;
}

form textarea { 
	background-color:#F2F3F4
}

form p { clear:both; }

form input { 
	padding: 8px 16px;
	background-color:#F2F3F4; 
	border: 1px solid #CCCCCC;
    	margin-left: 6px;
   	margin-right: 6px;
    	font-size: 14px;
}

form input[type="text"], form input[type="password"] {
    padding: 8px 10px;
    width: 172px;
}

form input[type="radio"]:not(:first-of-type) {
	margin-left: 26px;
}

header form {
    float: left;
    width: 110px;
}

header form:last-of-type {
    float: right;
    margin-right: 22px;
}

textarea {
    font-size: 14px;
}
