	<br>
	<form action="/add/">
      <input type="submit" value="Get a New Story!"/>
    </form>

{% extends "create.html" %}

{% block content %}
    <form action="/addInput/" method="post" id="updateBlog">
      <h2>{{ title }}</h2>
        <section>{{ story }}</section> 
     <br>
      <textarea rows="4" cols="40" name="story" form="updateBlog" id="story">Add to the story here...</textarea>
      <br><br>
      <input type="submit" value="Submit" id="submit" onclick="return validWords()">
      <input type="hidden" name="storyID" value={{storyID}}>
    </form>
{% endblock %}

