	<br>
	<form action="/add/">
      <input type="submit" value="Get a New Story!"/>
    </form>

{% extends "create.html" %}

{% block content %}
    <form action="/addInput/" method="post" id="updateBlog">
      <h2>{{ title }}</h2>
        <section>{{ story }}</section> 
     <br>
      <textarea rows="4" cols="50" name="story" form="updateBlog" id="story">Add to the story here...</textarea>
      <br><br>
      <input type="submit" value="Submit" id="submit" onclick="return countWords()">
      <input type="hidden" name="storyID" value={{storyID}}>
    </form>
{% endblock %}

	<form action="/home/">
      <input type="submit" value="Back to Home"/>
    </form>

    <br>
    <br>

    Note: You will not be able to contribute to a story you've created or you've added to. 
