<!DOCTYPE HTML>
<html>
  <head>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
		<title>Add Story</title>
	</head>
	<body>
	<center>
        <br>
		Hey! It looks like there are no more stories to be added at this time.
		<br><br>
		Feel free to create a story, or return back to your homepage.

		<br> 
		<br>
      <form action="/create/">
      <input type="submit" value="Create a Story"/>
    </form>

    <form action="/home/">
      <input type="submit" value="Back to Home"/>
    </form>

    </center>
  </body>
</html>
