<!doctype html>
<html>
	<head>
		<title>Add Story</title>
		<br>
		<br>
	</head>
	<body>
	<center>
	<h1>
		Hey! It looks like there are no more stories to be added at this time.
		<br>
		Feel free to <a href="../create">create a story</a>, or return back to your homepage.
	</h1>

	<form action="/create/">
      <input type="submit" value="Create Story"/>
    </form>

    <br>
    
    <form action="/home/">
      <input type="submit" value="Back to Home"/>
    </form>

    </center>
  </body>
</html>
