<!DOCTYPE HTML>
<html>
  <head>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <script type="text/javascript">
        function validWords() {
        s = document.getElementById( "story" ).value;
        if( 7 > s.split(' ').length ) {
            alert( "Please enter more mords." );
            return false;
        }
            
        if( 2 <= s.split("'").length ) {
            alert( "Apostrophes are not allowed!" );
            return false;
        }
            return true;
        }
      </script>
  </head>
  <body>
    <br>
      {% block content %}
    <br><br><h1> Create a New Story! </h1><br>
    <form action="/createInput/" method="post" id="newBlog">
      Title:
      <input type="text" name="title">
      <br><br>
      <textarea rows="4" cols="40" name="story" form="newBlog" id="story">Enter your story here...</textarea>
      <br><br>
      <input type="submit" value="Submit" id="submit" onclick="return validWords()">
    </form>
      {% endblock %}
        <form action="/home/">
          
    <input type="submit" value="Back to Home"/>
    </form>

    <br>
    <br>
    Note: You will not be able to contribute to a story you've created or you've added to. 
    
  </body>
</html>
