<!DOCTYPE HTML>
<html>
  <head>
  <style>
    body {
    font-family: Arial;
    text-align: center; 
    }
  </style>
  </head>
  <body>
    <form action="/home/" method="post" id="story">
      Login:
      <br><br>
      <input type="text" name="title" placeholder="Boring Title">
      <br>
      <textarea rows="4" cols="50" name="story" form="story">
        Enter text here...</textarea>
      <br><br>
      <input type = "submit" value = "Submit">
    </form>
  </body>
</html>
