<!doctype html>
<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
  <head>
    <title>Homepage</title>
  </head>
  
  <body>
<header>
    <form action="/create/">
      <input type="submit" value="New Story"/>
    </form>
    
    <form action="/add/">
      <input type="submit" value="Add Story"/>
    </form>

    <form action="/logout/">
      <input type="submit" value="Logout"/>
    </form>
</header>
      <br>
      
      
    <h1>Welcome to your homepage, {{user}}!</h1>
    
    <h3> {{message}} <br> {{message2}} </h3>
    <br>
    <center>
      {% for story in content %}
      <h3>{{story[0]}} </h3> 
        {% for contribution in story[1] %}
        {{contribution}} <br>
        {% endfor %}
      <br>
      <br>
      {% endfor %} 

  </body>
  
  
</html>
