<!doctype html>
<html>

  <head>
    <title>Homepage</title>
    
    <form action="/create/">
      <input type="submit" value="New Story"/>
    </form>
    
    <form action="/add/">
      <input type="submit" value="Add Story"/>
    </form>

    <form action="/logout/">
      <input type="submit" value="Logout"/>
    </form>
    

    <center><h1>Welcome to your homepage, {{user}}!</h1></center>
    
  </head>
  
  <body>
    <center><h3> {{message}} <br> {{message2}} </h3></center> 
    <br>
    <center>
      TITLE <br>
      insert story here
      {% for story in content %}
      <!-- <b>{{title}}</b><br> -->
      <p>{{story}}</p>
      <br> <br>
      {% endfor %} 

    </center>
  </body>
  
  
</html>
