<!doctype html>
<html>

  <head>
    <title> Login </title>
    <center><h1>Login/Register Here:</h1></center>
  </head>

  <body>
    <center>
      {{ message }}
      <br>
      <br>
      <form action = "/authenticate/" method = "POST">
	     Username: <input type = "text" name = "user"> <br> <br>
	     Password: <input type = "password" name = "password"> <br> <br>
	     <input type = "submit" name="account" value= "Login">
       <input type = "submit" name="account" value= "Register"> 
      </form>
   
  </body>

</html>
